<header>
    <div class="flex flex-col items-center text-white">
        <p class="text-5xl font-bold mb-4">
            BRINCO DE CHINELO, FERIA DEL IV VIERNES <span class="font-bold"
                >2026</span
            >
        </p>
        <p class="text-6xl font-bold z-10 relative">
            ATLATLAHUCAN <span class="inline-block -rotate-12">MORELOS</span>
        </p>
        <img
            class="animate-fade-in h-100 -mt-24 relative z-0"
            src="san_mateo.png"
            alt="San Mateo"
        />
    </div>
</header>
