<main class="flex flex-col items-center text-white">
    <section class="flex">
        <div>
            <h1>DOMINGO</h1>
            <h2>15</h2>
            <h3>MARZO 2026</h3>
            <h3>INICIA 3:00 PM</h3>
        </div>
        <div>
            <h1>EN HONOR A:</h1>
            <h2>SR. DE TEPALCINGO</h2>
        </div>
    </section>
    <section class="flex">
        <div>
            <h1>PATROCINADORES</h1>
        </div>
        <div>
            <h1>PARA UNA GRAN COMPARZA UNA GRAN BANDA</h1>
            <h1>LLEGA LA #1</h1>
            <h2>TOCANDO TODOS SUS EXITOS:</h2>
            <img class="h-20" src="apache_logo.png" alt="Logo Apache" />
        </div>
        <div>
            <h1>COMPARSA</h1>
            <h2>LA UNION DE LA PAZ</h2>
            <p>LA QUE NACIO GRANDE</p>
            <img class="h-30" src="logo2.png" alt="Logo Comparsa 2" />
        </div>
    </section>
</main>
