<header>
    <div class="flex flex-col items-center">
        <p class="text-5xl font-bold mb-4">
            BRINCO DE CHINELO, FERIA DEL IV VIERNES <span>2026</span>
        </p>
        <p class="text-6xl font-bold z-10 relative">
            ATLATLAHUCAN <span class="inline-block -rotate-12">MORELOS</span>
        </p>
        <img
            class="h-100 -mt-24 relative z-0"
            src="san_mateo.png"
            alt="San Mateo"
        />
    </div>
</header>
<section class="flex flex-col items-center">
    <div>
        <h1>PARA UNA GRAN COMPARZA UNA GRAN BANDA</h1>
        <h1>LLEGA LA #1</h1>
        <h2>TOCANDO TODOS SUS EXITOS:</h2>
        <img class="h-200" src="apache_logo.png" alt="Logo Apache" />
    </div>
</section>
<section>
    <div>
        <h1>COMPARZA</h1>
        <h2>LA UNION DE LA PAZ</h2>
        <p>LA QUE NACIO GRANDE</p>
        <img class="h-200" src="logo_comparsa.png" alt="Logo Comparsa" />
    </div>
</section>
