<main class="flex flex-col items-center text-white">
    <section class="flex items-center">
        <div class="flex flex-col items-center">
            <h1>EN HONOR A:</h1>
            <h2>SR. DE TEPALCINGO</h2>
        </div>
        <div>
            <img
                class="h-80"
                src="senor_tepalcingo.png"
                alt="Señor Tepalcingo"
            />
        </div>
        <div class="flex flex-col items-center">
            <h1>DOMINGO</h1>
            <h2 class="text-8xl">15</h2>
            <h3 class="text-2xl">MARZO 2026</h3>
            <h3>INICIA 3:00 PM</h3>
        </div>
    </section>
    <section class="flex flex-col items-center">
        <div class="flex flex-col items-center">
            <h1>PARA UNA GRAN COMPARSA</h1>
            <h2>UNA GRAN BANDA</h2>
            <h2>LLEGA LA #1</h2>
        </div>
        <div>
            <img class="h-100" src="apache_logo.png" alt="Señor Tepalcingo" />
        </div>
    </section>
</main>
